main {
    margin-top: 1.7rem;
}

.portfoliocontainer {
    display: grid;
    gap: 1.5rem;
}

.portfolioheader {
    /* background-color: teal; */
    padding: 1.5rem;
}

.portfolioheader h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.portfolioprojects {
    /* background-color: tomato; */
    padding: 1.5rem;
}

.projectgrid {
    display: flex;
    justify-content: space-evenly;
}

.projectgrid .wgrid1 {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-lightblue);
    border-radius: 1rem;
}

.wgrid1 img {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.wgrid1 a {
    background-color: var(--color-darkblue);
    padding: 0.8rem;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
}

.wgrid1 a:hover {
    background-color: white;
    color: black;
}

.wgrid1 h4 {
    background: transparent;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1270px) {
    .projectgrid {
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .wgrid1 a {
        background-color: var(--color-darkblue);
        padding: 0.8rem;
        color: white;
        text-decoration: none;
        border-radius: 1rem;
        margin-top: 2rem;
        margin-right: 0.5rem;
    }
}

iframe {
    width: 560px;
    height: 315px;
}

@media screen and (max-width: 622px) {
    .projectgrid {
        flex-flow: column;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

/* 
*/

@media screen and (max-width: 400px) {
    .wgrid1 a {
        background-color: var(--color-darkblue);
        padding: 0.8rem;
        color: white;
        text-decoration: none;
        border-radius: 1rem;
        margin-top: 2rem;
        margin-right: 0.5rem;
    }
}