aside{
    width: max-content;
    z-index: 2;
    position: fixed;
    left: 94%;
    transform: translateX(-50%);
    top: 0.5rem;
    background-color: transparent;
    -webkit-backdrop-filter: blur(15px);
    border-radius: 50rem;
}
aside a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    /* color: rgba(255, 255, 255, 0.6); */
    font-size: 2rem;
    text-decoration: none;
}
aside i{
    background-color: transparent;
    color: var(--color-yellow);
}
aside a:hover{
    color: var(--color-yellow);
}
aside a.active{
    background: var(--color-yellow);
    color: #167D7F;
}