.skillscontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.skillsheader {
    /* background-color: teal; */
    grid-column: 1/-1;
    padding: 1.5rem;
}

.skillsheader h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    margin-bottom: 2rem;

}

img#skillimage {
    background-color: white;
    display: block;
    object-fit: contain;
    width: 128px;
    height: 128px;
    border-radius: 20px;
    padding: 10px;
}

.main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 20px;
}

.skill {
    text-align: center;
}


.skill h4 {
    color: #eee;
}

.skill p {
    line-height: 5px;
}

@media screen and (max-width: 1024px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
    }
}